<div class="container text-align-center">

    <h1>&#10060; Batalla naval &#10060;</h1>

    <h4>Selecciona la dificultad</h4>

    <button class="btn-dificultad" mat-flat-button color="accent" (click)="cambiarDificultad('Custom')">Customizado</button>
    <button class="btn-dificultad" mat-flat-button color="accent" (click)="cambiarDificultad('Infinity')">
        Fácil (turnos infinitos)
    </button>
    <button class="btn-dificultad" mat-flat-button color="accent" (click)="cambiarDificultad(80)">
        Medio (80 turnos)
    </button>
    <button class="btn-dificultad" mat-flat-button color="accent" (click)="cambiarDificultad(50)">
        Difícil (50 turnos)
    </button>

</div>